* {
    padding: 0;
    margin: 0;
}

.cont {
    margin: 0 auto;
   
   
}


.title {

    font-family: Gilroy;
    font-size: 38px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 570px;
    top: 30px;

}

.txt {

    font-family: Gilroy;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left: 400px;
    top: 103px;

}

.box {

    width: 630px;
    height: 220px;
    position: relative;
    top: 230px;
    left: 450px;

}

.laptop {

    background-image: url('https://s3-alpha-sig.figma.com/img/9581/edda/696f087203dbc41896f9d180cf9d0435?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bh1b~jLJZ-KH2CyVbLIWomULpS-GSqx9uG3QNGnm32klleQCr8Pv6GUzWn8JpxTXC578wQrWKw7gKZEVg2KJUdCoZQkLrb17Q0iFgEsrcZjLdizzIPYO3PkI1x44Xq9LWmHg0qwrnIrtDAbUahHnRp4wvmjBBmw26P4uibErDy6IUFm40SwflYoQFDNSgJ1Zh7lJnJF88YVv8C7ueFHD0skJVCIXHJQ7no7K7nhIDd89i8rDtUiUpOSrbzCgWRf0I1f9py-Dp2UsI5CprqH5otlo6k2hi69Xx45pB6iwHCxehuUFOp8u~ZaLWAiLFkUOOUwP6pYqz9Nt79Cv-aDj-w__');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    width: 262px;
    height: 100%;
    transition: 1s;

}

.title_lap {

    width: 292px;
    height: 196px;
    position: absolute;
    right: 35px;
    top: 25px;
   
    display: flex;
    flex-direction: column;

}

.name {

    font-family: Gilroy;
    font-size: 38px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

}

.color_txt {

    font-family: Gilroy;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:  #0071E3;
    margin-top: 2px;
    transition: 0.8s;

}

.prise {

    font-family: Gilroy;
    font-size: 38px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    

}

.color_btns {

    width: 270px;
    height: 37px;
    position: absolute;
    top: 490px;
    left: 590px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    gap: 4%;

}

.gray_btn {

    width: 48%;
    height: 100%;
    background-color:  #0071E3;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.white_btn {

    width: 48%;
    height: 100%;
    background-color: #CFE7FF;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797979;
    cursor: default;
    transition: 0.3s;
    
    
}

.box_memory {

    width: 270px;
    height: 200px;
    position: absolute;
    left: 590px;
    top: 560px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.memory_btn {

    width: 100%;
    height: 42px;
    border: 3px solid #CFE7FF;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    
}

.memory_txt {

    font-size: 18px;
    color: black;
    font-weight: 500;
    position: absolute;
    left: 20px;
}

.cost_txt {

    font-size: 18px;
    color: black;
    font-weight: 500;
    position: absolute;
    left: 200px;

}