* {
  margin: 0;
  padding: 0;
}


.cont {

  width: 1528px;
  height: 789.5px;
  background-image: url(https://rare-gallery.com/mocahbig/43331-Miles-Morales-Spider-ManMiles-Morales-4k-Ultra-HD.jpg);
  background-size: cover;
  margin: 0 auto;
}


.box {

  width: 400px;
  height: 600px;
  background: transparent;
  backdrop-filter: blur(5px);
  position: relative;
  left: 550px;
  top: 100px;
  border-radius: 20px;
  box-shadow: 1px 5px 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
}

.title {

  font-size: 40px;
  color: white;
  position: absolute;
  margin-top: 15px;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.form {

  width: 70%;
  height: 70%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
}

input {

  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.email {

  width: 250px;
  height: 35px;
  background: transparent;
  margin-top: 50px;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;


}

.email2 {

  width: 250px;
  height: 35px;
  background: transparent;
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 15px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;

}


.password {

  width: 250px;
  height: 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;

}

.password2 {

  width: 250px;
  height: 35px;
  background: transparent;
  border: 3px solid black;
  border-radius: 15px;
  outline: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;

}

.but {

  
  width: 250px;
  height: 35px;
  background: transparent;
  margin-top: 70px;
  border-radius: 15px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.check {

  width: 20px;
  height: 20px;

  position: absolute;
  left: 92px;
  top: 268px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
 
}

.check2 {

  width: 20px;
  height: 20px;

  position: absolute;
  left: 92px;
  top: 268px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
 
}

.mark {
  width: 30px;
  height: 30px;
  background-image: url(https://luidorservis.ru/upload/medialibrary/09f/galka001.png);
  background-size: cover;
  position: absolute;
  right: -10px;
  bottom: 0px;
  filter: brightness(0);
  display: none;
 
}

.mark2 {
  width: 30px;
  height: 30px;
  background-image: url(https://luidorservis.ru/upload/medialibrary/09f/galka001.png);
  background-size: cover;
  position: absolute;
  right: -10px;
  bottom: 0px;
  filter: brightness(0);
  display: block;
  cursor: pointer;
}

.txt {
  font-size: 15px;
  color: white;
  position: absolute;
  left: 130px;
  top: 270px;

}

.txt2 {
  font-size: 15px;

  position: absolute;
  left: 130px;
  top: 270px;
  opacity: 0.5;

}

.but:active {

  border: 2px solid black;
  color: black;

}



